.checkout_smalltext {
    -fx-font-size: 14px;
    -fx-text-alignment: right;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}
.textField {
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-font-family: "Roboto";
    -fx-font-size: 13px;
}
.order_button {
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: #EF233C;
    -fx-text-fill: #EDF2F4;
    -fx-font-family: "Roboto";
    -fx-font-weight: Bold;

    -fx-border-style: solid solid solid solid;
    -fx-border-width: 3 3 3 3;
    -fx-border-color: #D90429;
}
.order_button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 10, 0.5, 0.0, 0.0);
}
.background {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
}